/*---------------------- Canvas --------------------*/       
* {box-sizing: border-box;}
body, html {height:100%;
            margin: 0px;
            color: rgb(44, 41, 41);
            background-color: black;}

body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif;}
p{color:white;}
h2{margin: 3%;}
h5{color:dimgrey;} 



/*---------------------- Nav bar  --------------------*/                       
/*Parent Element (Container):becomes
flexible by setting display to flex*/
#navbar{font-family: monospace;
        display: flex;
        color:white;
        /*Nowrap specifies flex items don't wrap*/
        flex-wrap:nowrap;           
        background-color:black;
        margin:0px;
        z-index: 99999999;}

#navbar div{background-color: black;
            width:20%;
            margin:0px;
            /*align text to center of div*/
            text-align: center;
            /*height of div*/
            line-height:50px;}  				  
              
a{display:block;
  text-decoration:none;}

#navbar div a:hover {background-color:dimgrey;
                     color: black;}

.sticky {position: fixed;
         top: 0;
         width: 100%;}  

   /*---------------------- Media Queries  --------------------*/
    @media screen and (max-width: 700px){.mobhide{display:none;}}
